@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit";
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(212, 45%, 89%);
}

.card {
  width: 320px;
  height: 499px;
  background-color: hsl(0, 0%, 100%);
  padding: 16px 16px 40px 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 20px;
  box-shadow: 0 10px 40px hsl(220, 15%, 55%);
}

img {
  width: 288px;
  height: 288px;
  object-fit: cover;
  border-radius: 10px;
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 16px;
}

.content h1 {
  font-size: 700;
  font-size: 22px;
  color: hsl(218, 44%, 22%);
}

.content p {
  font-size: 15px;
  font-weight: 400;
  color: hsl(216, 15%, 48%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
